.extra {
    margin: 50px;
    background-color: rgb(123, 228, 228);
    padding: 10px;
}

.extra h1 {
    text-align: center;
    color: cornflowerblue;
}

.divaided {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.extrabtn {
    text-align: center;
}